.view-formatter {
  width: 100%;

  &-wrapper-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px;

    &.icon-align>.view-formatter-left-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.settings-item {
      @include media-query(mobile) {
        margin-bottom: 23px;
      }

      margin: 0 0 20px;
      border-radius: 5px;
      padding: 0;
      background: #f3f3f3;

      svg {
        width: 25%;
      }
    }

    &.collapsible {
      padding-top: 0;
    }

    &.classic {
      padding: 0;
    }

    &.dual {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);

      .view-formatter-left-icon>svg {
        width: 100%;
        max-width: 23px;
        height: 100%;
        max-height: 24px;
      }

      p {
        margin: 0 !important;
      }
    }
  }

  &-title-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left-icon {

    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 100%;
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    object-fit: cover;

    &:last-child {
      box-shadow: 0 0 0 0 rgba(0, 0, 0);
    }

  }

  span {
    display: block;
    transition: 0.4s ease-in-out max-height;
  }

  p {
    margin: 0;

    &:first-child,
    &.view-formatter-p {
      margin-bottom: 5px;
    }

    &:last-child:not(&.view-formatter-p) {
      margin-top: 5px;
    }
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &.classic {
    display: flex;
    align-items: center;
  }

  &.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15.5px 15px;
    cursor: pointer;

    &-flex {
      @extend .settings-item;
    }

    &-flex>div:not(:first-of-type) {
      display: none;
    }

    &-flex>div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p {

        &:first-child {
          max-width: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &-wrapper-box.Collapsible {

    @include media-query(mobile) {

      padding-right: 0;
      padding-left: 0;

    }

  }

  &.collapsible {

    position: relative;
    cursor: pointer;

    .collapsible-icon {
      position: absolute;
      top: 0;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: 0.2s ease;
    }

    &-show .collapsible-icon {
      transform: rotate(0.75turn);
    }

    p:not(span p) {
      margin-bottom: 20px;
    }

    span {
      max-height: 0;
      overflow: hidden;
    }

    &-show span {
      max-height: 1200px;
    }
  }

  &-dual {
    justify-content: unset !important;
  }

  &-text-box-flex {
    display: flex;
    align-items: center;

    p {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    p:first-child {
      margin-right: 10px;
    }
  }

  &-right-arrow svg {
    width: 16px !important;
    height: 16px !important;
  }
}

.view-formatter.collapsible {

  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  padding: 24px 33px;
  max-width: 509px;
  transition: 0.2s ease;

  .view-formatter-regular-value {

    margin-top: 16px !important;

  }

  p {

    margin-bottom: 0 !important;
    transition: 0.2s ease;

  }

  &.collapsible-show {

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 0 solid rgba(233, 233, 233, 1);
    background: color(fair-background);

  }

  .view-formatter-title-box p {

    @include font-size(p-large);
    max-width: calc(100% - 30px);
    font-family: $header-font;
    font-weight: 700;

  }

}

.view-formatter-checked {

  border: 1px solid color(line) !important;
  padding: 14px 16px;

  p {

    margin-top: 0 !important;

  }

  .view-formatter-title-box p {

    @include font-size(regular);
    font-weight: 500;
    color: color(black_);

  }

  .view-formatter-regular-value {

    @include font-size(small);
    font-weight: 400;
    color: color(secondary-text);

  }

  &-single .view-formatter-title-box p {

    margin: 0;
    font-weight: 400;

  }

  &-single .view-formatter-regular-value {

    display: none;

  }

}
