.review-controls {

    @include font-size(regular);
    margin-top: 30px;
    text-align: center;
    color: color(secondary-text);

    p {

        margin-bottom: 24px;

    }

    .button {

        margin: auto;
        max-width: 380px;
        background: color(more-reviews-button);
        font-weight: 400;
        color: color(primary);

    }

}
