.product {

    &-top-holder {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            margin-top: 0;
            padding-top: 0;

        }

    }

    &-top {

        @include media-query(mobile) {

            flex-direction: column;

        }

        display: flex;
        flex-grow: 1;

        &-images,
        &-right {

            @include media-query(mobile) {

                max-height: unset;

            }

            flex-grow: 1;
            max-height: 640px;

        }

        &-right {

            width: 100%;
            overflow-y: scroll;

        }

    }

    &-top-images {

        @include media-query(mobile) {

            margin-right: 0;
            margin-bottom: 16px;

        }

        display: flex;
        margin-right: 50px;

        &-thumbnail {

            @include media-query(mobile) {

                display: none;
                margin-right: 0;

            }

            margin-right: 56px;

        }

        &-thumbnail div {

            margin-bottom: 14px;
            border: 2px solid transparent;
            width: 80px;
            height: 80px;

        }

        &-thumbnail div img {

            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        &-big {

            margin-top: 2px;
            width: 568px;
            height: 623px;

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }

    }

    &-top-info {

        border-bottom: 1px solid color(line);
        width: 100%;

        &-store {

            @include font-size(small);
            display: block;
            margin-bottom: 24px;
            color: color(faux-blue);

        }

        &-label {

            @include font-size(large);
            margin-bottom: 8px;
            font-weight: 300;

        }

        &-price {

            @include font-size(o-large);
            font-family: $header-font;

        }

        &-big-tag {

            @include font-size(x-small);
            margin: 8px 0 22px;
            border-radius: 24px;
            padding: 4px;
            width: max-content;
            background: color(product-tag);
            font-weight: 300;
            color: color(subBlack);

        }

    }

    &-variant {

        display: flex;
        border-bottom: 1px solid color(line);
        padding: 24px 0;

        &-left {

            &-info {

                @include media-query(mobile) {


                }

                display: flex;
                align-items: center;
                margin-right: 17px;
                height: max-content;

                p {

                    @include font-size(large);
                    text-transform: capitalize;
                    font-weight: 300;

                }

                span {

                    display: flex;
                    margin-left: 7px;

                }

            }

            &-selection {

                @include font-size(medium);
                margin-top: 16px;
                text-transform: capitalize;
                color: color(secondary-text);

            }

        }

        &-right {

            @include media-query(mobile) {

                width: 100%;

            }

            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            width: calc(100% - 120px);

        }

        &-size-item {

            @include font-size(small);
            margin-right: 16px;
            margin-bottom: 5px;
            border-radius: 16px;
            padding: 8px 24px;
            height: max-content;
            background: color(header-border);
            text-transform: capitalize;

            &.active {

                background: color(black_one);
                color: color(light-background);

            }

        }

    }

    &-top-controls {

        display: flex;
        align-items: center;
        margin-bottom: 40px;
        padding-top: 37px;

        .button {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 31.5px;
            width: 90%;
            max-width: 365px;

            &-title {

                margin-right: 19.5px;
                font-weight: 400;

            }

        }

        &-fav svg {

            width: 25px;
            height: 25px;
            stroke-width: 2.25px;

        }

    }

    &-top-description,
    &-top-details,
    &-top-shipping {

        @include font-size(regular);
        margin-top: 16px;
        line-height: 1.8;
        color: color(secondary-text);

    }

    &-top-shipping .view-formatter-wrapper-box {

        padding-top: 0;

    }

    &-top-shipping .view-formatter-title-box p,
    &-top-faqs .view-formatter-title-box p {

        @include font-size-override(regular);
        margin-bottom: 0;
        font-family: $header-font;
        color: color(dark);

    }

    &-top-faqs .view-formatter-wrapper-box {

        padding: 0;

    }

    &-top-store-info {

        &-detail.view-formatter-wrapper-box {

            padding-left: 0;

        }

        &-contact-heading,
        &-detail .view-formatter-title-box p {

            @include font-size(p-large);
            font-family: $header-font;

        }

        &-detail .view-formatter-regular-value {

            @include font-size(regular);

        }

        &-contact {

            display: flex;
            flex-wrap: wrap;
            margin-top: 8px;

            .view-formatter-title-box {

                display: none;

            }

            .view-formatter-left-icon {

                margin-right: 6px;
                width: 24px;
                min-width: 24px;
                height: 24px;
                min-height: 24px;

            }

            .view-formatter-wrapper-box {

                @include font-size(x-small);
                align-items: center;
                margin-right: 30px;
                margin-bottom: 8px;
                border-radius: 8px;
                padding: 8px 12px;
                width: max-content;
                background: color(light-tag);

            }

        }


    }

    &-ratings {

        @include media-query(mobile) {

            flex-direction: column;

            .rating-bar-cursor {

                flex-grow: 1;

            }

            .rating-bar-cursor-block {

                width: 100%;

            }

        }

        display: flex;
        justify-content: space-between;


        &-holder {

            @extend %body-width-and-padding;

        }

        &-count {

            h1 {

                @include font-size(o-large);
                margin-bottom: 4px;

            }

            .ratings span {

                width: 35px;
                height: 35px;

            }

            small {

                @include media-query(mobile) {

                    margin-bottom: 28px;

                }

                @include font-size(regular);
                display: block;
                margin-top: 8px;
                color: color(secondary-text);

            }

        }

    }

    &-review-segment {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            margin-top: 0;

            .review-item {

                flex-direction: column;

            }

            .review-item-rating {

                margin-bottom: 16px;

            }

            .review-item-help-stat {

                margin-top: 16px;
                width: max-content;

            }

        }

        &-header {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 32px;
            background: color(review-grey);

            .form-field {

                display: flex;
                margin-bottom: 0;
                border-radius: 24px;
                padding: 11px 16px;
                background: color(white);

                &-title {

                    margin: auto;

                }

                .select {

                    margin: auto;
                    border: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 30px;
                    background: unset;

                }

                .form-input {

                    margin-right: 6px;

                }

            }

        }

    }

}
