.contact-form {

    @include media-query(mobile) {

        padding-top: 32px;

    }

    width: 100%;
    max-width: 652px;

    .component-header {

        margin-bottom: 16px;

    }

    .component-header h2 {

        @include font-size(p-large);
        margin-bottom: 0;

    }

    &-header {

        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;

        &-login {

            @include font-size(regular);
            display: flex;

            a {

                margin-left: 10px;
                color: color(faux-blue);

            }

        }

    }

    &-entry {

        &-email {

            margin-bottom: 8px !important;

        }

        &-address-header {

            @include font-size(p-large);

            @include media-query(mobile) {

                margin: 32px 0 16px;


            }

            margin-top: 64px;
            margin-bottom: 24px;

        }

        &-block {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-field {

                @include media-query(mobile) {

                    width: 100%;

                }

                width: calc(50% - 10px);

            }

            .form-field:nth-child(5),
            .form-field:nth-child(6) {

                width: 100%;

            }

        }

    }

    &-proceed {

        @include media-query(mobile) {

            flex-direction: column-reverse;
            align-items: center;

        }

        display: flex;
        justify-content: space-between;

        .button:first-child {

            @include media-query(mobile) {

                max-width: 180px;

            }

            flex-direction: row-reverse;
            padding-left: 0;
            max-width: 250px;
            background: transparent;
            color: color(primary);

            span {

                margin-right: 8px;

            }

        }

        .button:not(:first-child) {

            max-width: 230px;

        }

    }

}
