.landingLayout-trail {

    @extend %body-width-and-padding;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a:not(:last-of-type) {

        margin-right: 21px;
        color: color(secondary-text);

    }

    a {

        @include font-size(regular);

    }

    &-right {

        margin-right: 23px;

    }

}
