.landingLayout-trail {

    @include media-query(pc-high-resolution) {

        margin-bottom: -60px;

    }

    @include media-query(pc-low-resolution) {

        margin-bottom: -20px;

    }

    @include media-query(non-pc) {

        margin-bottom: -30px;

    }

    @include media-query(mobile) {

        margin-bottom: -90px;

    }

    @extend %body-width-and-padding;
    display: flex;
    align-items: center;

    a:not(:last-of-type) {

        margin-right: 21px;
        color: color(secondary-text);

    }

    a {

        @include font-size(regular);

    }

    &-right {

        margin-right: 23px;

    }

}
