.header-cart {

    z-index: 1;
    position: absolute;
    top: -50px;
    right: 74px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 24px;
    width: 100%;
    max-width: 538px;
    max-height: 1008px;
    background: color(white);
    opacity: 1;
    transition: 0.4s ease;

    &-hidden {

        padding: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;

    }

    &-anchor {

        position: relative;

    }

    .cart-item-image {

        width: 120px;
        min-width: 120px;
        height: 180px;

    }

    .cart-item {

        margin-bottom: 32px;

    }

    .cart-store-item-body-left  {

        width: 100%;

    }

    .cart-store-item-header  {

        display: none;

    }

    &-summary {

        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        color: color(subBlack);

        h2 {

            @include font-size(l-large);
            font-family: $header-font;
            font-weight: 600;
            color: color(dark);

        }

    }

}
