.banner {

    display: flex;
    height: 100vh;
    max-height: 790px;
    background: color(black_);

    &-left {

        @extend %body-width-and-padding;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h1 {

            @include font-size(xxxx-large);
            display: block;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: 605px;
            color: color(white);

        }

        .button {

            margin-bottom: 20px;
            width: max-content;

        }

    }

    &-right {

        width: 30%;
        max-width: 404px;
        background: color(black_);

    }

}
