.discover {

    .component-header {

        @extend %body-width-and-padding;
        margin-bottom: 40px;
        padding-bottom: 0;

    }

    &-block {

        @extend %body-width-and-padding;
        display: flex;
        margin-top: 0;
        padding-top: 0;
        min-width: 100%;
        overflow-x: scroll;

    }

    .discover-store {

        margin-right: 32px;

    }

}
