.discover {

    .component-header {

        @extend %body-width-and-padding;
        margin-bottom: 40px;
        padding-bottom: 0;

    }

    &-block {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            overflow-x: unset;

            .discover-store:not(:first-child) {

                display: none;

            }

        }

        display: flex;
        margin-top: 0;
        padding-top: 0;
        min-width: 100%;
        overflow-x: scroll;

    }

    .discover-store {

        margin-right: 32px;

    }

}
